!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }/
    -#%link{ rel: 'icon', href: favicon_path, type: 'image/x-icon' }/
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }/
    %link{ rel: 'mask-icon', href: '/mask-icon.svg', color: '#2B90D9' }/
    %link{ rel: 'manifest', href: '/manifest.json' }/
    %meta{ name: 'msapplication-config', content: '/browserconfig.xml' }/
    %meta{ name: 'theme-color', content: '#282c37' }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/

    %title<
      - title = "okashiclub"
      - if content_for?(:page_title)
        = yield(:page_title)
        = ' - '
      = title
    = csrf_meta_tags
    = stylesheet_pack_tag 'hello_vue', media: 'all'
    = javascript_pack_tag 'hello_vue', integrity: true, crossorigin: 'anonymous'    
    = yield :header_tags

  %body
    .header
      = link_to "settings", me_accounts_path
      - if user_signed_in?
        = link_to "logout", destroy_user_session_path
      - else
        = link_to "login/signup", signin_path

    .content-body
      - if content_for?(:content)
        = yield(:content)
      - else
        %div#app