%h1 User Setting

%h3
  = "UserID: #{current_user.id}"
%h3
  = "UserName:#{current_user.username}"

%h3 Social

%h4 Facebook
- if current_user.providers.where(provider: 'facebook').exists?
  %p Connected!
- else
  = link_to "connect facebook", user_facebook_omniauth_authorize_path

%h4 Twitter
- if current_user.providers.where(provider: 'twitter').exists?
  %p Connected!
- else
  = link_to "connect twitter", user_twitter_omniauth_authorize_path